<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Per Diem</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" />
        <link href="styles/main.css" rel="stylesheet"></link>
    </head>
    <body>

        <div class="wrapper">
            <div class="row padding-1">
                <table 
                    class="table table-bordered rounded">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Amount</th>
                            <th data-allowance-mount></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <input 
                                    class="input-wide input-bordered rounded"
                                    data-expense-form 
                                    type="number" 
                                    placeholder="Add New Expense"
                                    />
                            </td>
                        </tr>
                    </tfoot>
                    <tbody data-expense-list></tbody>
                </table>
            </div>
            <div class="padding-1 row">
                <span class="left padding-2">
                    Balance: <span data-running-total-mount></span>
                </span>
                <button 
                    data-reset-mount
                    class="right primary padding-2 rounded"
                    >Start New Week</button>
            </div>
        </div>


        <script id="expense-row" type="text/html">
                <tr id="<%= id %>">
                <td><%= fmt_date %></td>
                <td>$ <%= amount %></td>
                <td><%= running_total %></td>
            </tr>
        </script>

        <script id="week-view" type="text/html">
            <div class="left width-3 stat-block"><%= allowance %></div>
            <div class="left width-3 stat-block"><%= spent %></div>
            <div class="left width-3 stat-block"><%= difference %></div>
        </script>

        <script src="build/index.js"></script>

    </body>
</html>
