<!DOCTYPE html>
<html manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title>Budget</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" />
        <link href="main.css" rel="stylesheet"></link>
        <link href="fontello.css" rel="stylesheet"></link>
    </head>
    <body>

        <div data-app class="wrapper"></div>

        <!-- Templates -->

        <script id="app-layout" type="text/html">
            <div data-module-region class="module-region"></div>
            <div data-modal-region class="modal-region">Here I am</div>
        </script>

        <script id="expenses-table" type="text/html">
            <div class="row padding-1 expense-table">
                <table 
                    class="table table-bordered rounded center">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Amount</th>
                            <th>Remaining <span class="weak small">(from <%= allowance %>)</span></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <input 
                                    class="input-wide input-bordered rounded"
                                    data-expense-form 
                                    type="number" 
                                    placeholder="add new expense"
                                    />
                            </td>
                        </tr>
                    </tfoot>
                    <tbody data-expense-list></tbody>
                </table>
            </div>
        </script>

        <script id="selection-layout" type="text/html">
            <h1 data-header class="center padding-2">Budgets</h1>
            <ul 
                data-budget-list-mount
                class="list list-bordered rounded margin-1"
                />
            <div data-grand-total></div>
            <div data-actions class="data-actions"></div>
            <div data-empty></div>
        </script>

        <script id="expense-row" type="text/html">
            <tr id="<%= id %>" data-expense-action>
                <td><%= fmt_date %></td>
                <td>$ <%= amount %></td>
                <td><%= running_total %></td>
            </tr>
        </script>

        <script id="expenses-empty" type="text/html">
            <tr>
                <td colspan="3">
                    <div class="strong center padding-2">Log expenses below.</div>
                </td>
            </tr>
        </script>

        <script id="budget-row" type="text/html">
            <li 
                data-select-budget 
                id="<%= id %>"
                class="padding-2"
                >
                <%= name %> <span class="right">$<%= cummulative_total %></span>
            </li>
        </script>

        <script id="total-row" type="text/html">
            <div class="right padding-2 clearfix">
                <span class="strong">Total<span>: <span>$<%= grand_total %></span>
            </div>
        </script>

        <script id="empty-selection" type="text/html">
            <div class="padding-2">
                <button data-new-budget class="padding-2 rounded primary wide block">New budget</button>
            </div>
        </script>

        <script id="selection-module-actions" type="text/html">
            <button data-new-budget class="padding-2 left link">New budget</button>
            <button data-reset-all class="padding-2 left link">Restart all budgets</button>
        </script>

        <script id="budget-layout" type="text/html">
            <h1 class="padding-2 center">
                <button data-show-selection class="left no-flow link rounded text-large">
                    <i class="icon-left-open"></i>
                </button>
                <%= name %>
            </h1>
            <div data-expense-list></div>
            <div class="padding-1 row">
                <div data-balance></div>
                <div data-budget-actions></div>
            </div>
        </script>

        <script id="no-expenses" type="text/html">
            <tr>
                <td colspan="3">
                    <div class="strong center padding-2">Log expenses below.</div>
                </td>
            </tr>
        </script>

        <script id="budget-balance" type="text/html">
            <span class="right padding-2">
                <span class="strong">Balance:</span> <%= cummulative_total %>
            </span>
        </script>

        <script id="budget-actions" type="text/html">
            <button 
                data-reset-mount
                class="left padding-2 rounded link"
                >Start New Week</button>
        </script>

        <script id="create-budget" type="text/html">
            <input data-budget-name></input>
            <input data-allowance-name></input>
            <div data-cancel>Cancel</div>
            <div data-accept>Accept</div>
        </script>

        <script src="main.TIMESTAMP.js"></script>
    </body>
</html>
