* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Helvetica', sans-serif;
}

.padding-1 {
    padding: 7px;
}

.padding-h-1 {
    padding: 7px;
}

.padding-2 {
    padding: 10px;
}

.margin-b-1 {
    margin-bottom: 7px;
}

.margin-v-1 {
    margin: 7px 0;
}

.margin-1 {
    margin: 7px;
}

.width-3 {
    width: 33.3%;
}

h1 {
    font-size: 18px;
}

button {
    background: none;
    border: 1px solid;
    font-weight: 600;
}

button:focus {
    outline: none;
    border: none;
}

.rounded {
    border-radius: 5px;
}

.primary {
    background: #2980b9;
    color: #ffffff;
}

.right {
    display: block;
    float: right;
}

.left {
    display: block;
    float: left;
}

.block {
    display: block;
}

.row {
    clear: both;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
}

.table {
    width: 100%;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table td, .table th {
    padding: 7px;
}

.table-bordered td, .table-bordered th {
    border-bottom: 1px solid #ddd;
}

.table-bordered tr:last-child td {
    border-bottom: none;
}

.table thead {
    font-weight: 600;
}

input {
    outline: none;
    border: none;
}

.input-bordered {
    border: 1px solid #ddd;
}

.input-wide {
    display: block;
    width: 100%;
}

input[type="number"] {
    padding: 10px;
}

.strong {
    font-weight: 600;
}

.weak {
    font-weight: 400;
    color: #999;
}

.small {
    font-size: smaller;
}

.center {
    text-align: center;
}

.link {
    background: transparent;
    text-decoration: underline;
    color: #2980b9;
    border: none;
}

.list {
    list-style-type: none;
}

.list-bordered {
    border: 1px solid #ddd;
}

.list-bordered:empty {
    border: none;
}

.list-bordered li {
    border-bottom: 1px solid #ddd;
}

.list-bordered li:last-child {
    border: none;
}

.clearfix {
    overflow: hidden;
}
